# Python files
*.pyc
__pycache__/
todo_list/__pycache__/
base/__pycache__/
# Ignore all __pycache__ directories
**/__pycache__/

# Virtual environment
env/
venv/

# Django-related
db.sqlite3
/static/
/media/

# PyCharm files (if you're using PyCharm)
.idea/
